
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1472455376'); /* IE9*/
  src: url('iconfont.eot?t=1472455376#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1472455376') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1472455376') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1472455376#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before { content: "\e614"; }
.icon-phone:before { content: "\e620"; }
.icon-address:before { content: "\e621"; }
.icon-mail:before { content: "\e622"; }
.icon-address2:before { content: "\e615"; }
.icon-menu:before { content: "\e606"; }
.icon-search:before { content: "\e604"; }
.icon-user:before { content: "\e623"; }
.icon-play:before { content: "\e60f"; }
.icon-selected3:before { content: "\e616"; }
.icon-unselected3:before { content: "\e617"; }
.icon-star:before { content: "\e610"; }
.icon-feiji:before { content: "\e618"; }
.icon-huoche:before { content: "\e619"; }
.icon-up:before { content: "\e607"; }
.icon-execl:before { content: "\e60b"; }
.icon-pic:before { content: "\e60c"; }
.icon-word:before { content: "\e60d"; }
.icon-pdf:before { content: "\e60e"; }
.icon-zanzhu:before { content: "\e600"; }
.icon-users:before { content: "\e601"; }
.icon-meiti:before { content: "\e602"; }
.icon-car:before { content: "\e611"; }
.icon-hall:before { content: "\e612"; }
.icon-walk:before { content: "\e613"; }
.icon-iconfontchecked2:before { content: "\e61a"; }
.icon-iconfontselected5:before { content: "\e61b"; }
.icon-exhibitor:before { content: "\e603"; }
.icon-phone3:before { content: "\e605"; }
.icon-phone31:before { content: "\e608"; }
.icon-qq:before { content: "\e609"; }
.icon-qrcode:before { content: "\e60a"; }
.icon-ppt:before { content: "\e61c"; }
.icon-unknow:before { content: "\e61d"; }
.icon-zip:before { content: "\e61e"; }
.icon-delete:before { content: "\e61f"; }
.icon-fax:before { content: "\e624"; }
.icon-buyer:before { content: "\e625"; }
.icon-line:before { content: "\e626"; }
.icon-online:before { content: "\e627"; }
